<div>
    <input type="text" placeholder="title" #title class="form-control" (keyup.enter)="addPost(title)">
</div>

<ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
        {{post.title}}
    </li>
</ul>