<div>
    <input type="text" placeholder="title" #title class="form-control">
</div>
<ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
        <button class="btn btn-primary" (click)="updatePost(post,title.value)">Update</button> {{post.title}}
    </li>
</ul>