<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button type="button" routerLink="/operations/add" class="btn btn-primary">Add</button>
    <button type="button" routerLink="/operations/update" class="btn btn-success">Update</button>
    <button type="button" routerLink="/operations/delete" class="btn btn-danger">Delete</button>
</nav>